# Configuration file

~CONFIG_VERSION: 0.1.0

world1018359898 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world127644227 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=контроллер
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world2060744500 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=виве
    B:overlayEnabled=true
}


world2066190897 {
    # Отображает список закладок рядом с открытыми интерфейсами.
    B:bookmarkOverlayEnabled=true

    # Даёт предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывает и раскрывает ингредиенты путём нажатием по нему в списке ингредиентов.
    B:editEnabled=false
    S:filterText=вад

    # Отображает список ингредиентов рядом с открытыми интерфейсами.
    B:overlayEnabled=true
}


world676003654 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=творч
    B:overlayEnabled=true
}


